body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid #C9E0ED;
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #C9E0ED;
}

#content
{
    padding: 20px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#mainmenu
{
	background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

.ui-widget-header {background: url("bg.gif") repeat-x scroll left top white !important;}
.ui-widget-header .ui-state-default {background: none repeat scroll 0 0 #E5F1F4 !important;}
.ui-widget-header .ui-state-active {background: none repeat scroll 0 0 #ffffff !important; }

.grid-view h3 {float: left; margin-bottom: 0;}
.form .note pre {display: inline; font: inherit; margin: 0;}
.form .hint {overflow: auto;}
code {white-space: pre;}
.code {white-space: pre;}
.view-title {height: 2.3em;}
.view-title h1 {float: left; margin: 0 10px;}
.view-title ul {list-style-type: none; line-height: 2; margin:0;}
.view-title li {float: left; margin-right: 5px;}
.form legend {font-size: 1.4em; padding: 0 2px;}

.form .note span {color: #ff0000;}

.menu-sections {background-color: #EFF4FA; height:25px;}
.menu-sections ul {list-style-type: none; margin:0;padding-left:5px;padding-top:3px;}
.menu-sections ul li {float:left;}
.menu-sections ul li a {color:#6399CD;font-size:12px;font-weight:bold;text-decoration:none;padding:5px 8px;}
.menu-sections ul li a:hover, .menu-sections ul li.active a {color: #000000; background-color:#EFF4FA;}
.menu-sections .breadcrumbs {float:right;}

.config-error { color: #000000; float: right; font-weight: bold; padding: 5px 10px; }

.entity-details {overflow: auto;}
.entity-details pre {
    background: none repeat scroll 0 0 #FCFCFC;
    border-bottom: 1px solid #EEEEEE;
    border-top: 1px solid #EEEEEE;
    display: block;
    font-family: Menlo,Consolas,"Courier New",Courier,mono;
    font-size: 10pt;
    margin: 1em 0;
    padding: 1em;
}